<div class="ms-4 hideableContent collapse show fade">{% fa "text-height" %} Text Size <a data-btk-text="increaseSize" class="btn btn-secondary ms-3">{% fa "angle-up" %}</a> <a data-btk-text="decreaseSize" class="btn btn-secondary">{% fa "angle-down" %}</a> </div>