<div class="ms-4 hideableContent collapsed fade" data-bkt-text-size-modifier="0"><a data-bkt-text="decreaseSize" class="btn btn-secondary py-0 px-1">{% fa "solid minus fa-fw fa-xs" %}</a> <a data-bkt-text="increaseSize" class="btn btn-secondary py-0 px-1 ">{% fa "solid plus fa-fw fa-xs" %}</a> <a data-bkt-text="reset" class="btn btn-secondary py-0 px-1 disabled">{% fa "solid undo fa-fw fa-xs" %}</a></div>