@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Smooch+Sans:wght@100..900&display=swap");

@import "../../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Don't edit the node variable files! Copy variables you want to change from the node file above, and paste them into the file below. Delete !default from the end and you'll be able to overwrite the default value. Happy theming! You might find https://getbootstrap.com/docs/5.3/customize/color a useful reference for the already available colours.
@import "_variables";
@import "_variables-dark";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

p:last-child {
  margin-bottom: 0;
}

code {
  background-color: var(--bs-secondary-bg);
  padding: 0.125rem 0.5rem 0;
  border-radius: var(--bs-border-radius-sm);
  vertical-align: baseline;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  &:has(> footer) {
    grid-template-rows: 1fr auto;
  }
  &:has(> nav + main):has(> footer),
  &:has(> header + main):has(> footer) {
    grid-template-rows: auto 1fr auto;
  }
}

[data-bkt-text] {
  opacity: 1;
  transition: all 0.2s !important;
}
.adjustableTextSize {
  font-size: unquote("calc(1em + var(--text-size-modifier, 0))");
}

.stacked-grid {
  display: grid;
  & > * {
    grid-area: 1/2;
  }
}

header {
  transition: all 0.2s;
  #header-collapse {
    opacity: 0 !important;
    pointer-events: none;
    transition: all 0.2s;
  }
  &:not(.isSticky) .hideableContent:not(.show):not(i) {
    opacity: 1;
    display: block;
  }
  &.isSticky {
    .hideableContent {
      height: auto !important;
    }
    &:has(.hideableContent:not(.show):not(i)) {
      background: transparent !important;
    }
    .d-flex.collapse:not(.show) {
      display: none !important;
    }
    #header-collapse {
      opacity: 0.5 !important;
      pointer-events: auto;
    }
  }
}
