{% macro pagination(collection, page) %}
  {% set previous = {"url": collection[page.index0 - 1].url, "slug": collection[page.index0 - 1].fileSlug} %}
  {% set next = {"url": collection[page.index].url, "slug": collection[page.index].fileSlug} %}
  <div class="d-flex gap-2">
    <a href="{{previous.url}}" class="btn btn-outline-primary {{"disabled" if not previous.url}}">{% fa {icon: "arrow-left", size: "sm"} %} Previous Chapter</a>
    <a href="{{next.url}}" class="btn btn-outline-primary ms-auto {{"disabled" if not next.url}}">Next Chapter {% fa {icon: "arrow-right", size: "sm"} %}</a>
  </div>
{% endmacro %}