{% if startNotes or endNotes %}
{% card {title: "Notes", classes:"mb-3 rounded-0"} %}

{% if startNotes %}
{{startNotes | renderContent("md") | safe}}
{% endif %}

{{("<p>See end of chapter for <a href=\"#notes-" + page.index + "\">" + (" more" if startNotes) + " notes</a>.</p>") | safe if endNotes}}
{% endcard %}
{% endif %}

{{ content | renderContent(njk) | safe }}

{% if endNotes %}
<a id="notes-{{page.index}}"></a>
{% card {title: "Notes", classes:"mb-3 rounded-0"} %}
{{endNotes}}
{% endcard %}
{% endif %}