
<footer class="bg-body-tertiary py-4 px-3 bg-body-tertiary">
{%- renderTemplate "md" -%}
Powered by [**11ty**](11ty.dev), using the <i class="fas fa-book-bookmark"></i> [Bookity](https://github.com/captainharrie/bookity) template.
{% endrenderTemplate %}
</footer>