  <link rel="stylesheet" href="/assets/onionring/onionring.css">
  <div id='my-ring'>
    <script type="text/javascript" src="/assets/onionring/onionring-variables.js"></script>
    <script type="text/javascript" src="/assets/onionring/onionring-widget.js"></script>
  </div>