<div class="ms-2 hideableContent collapsed fade d-flex" data-bkt-text-size-modifier="0">
  <a data-bkt-text="decreaseSize" class="btn btn-secondary py-0 px-1 me-1">{% fa {icon: "minus", size: "xs"}, "fa-fw" %}</a>
  <a data-bkt-text="increaseSize" class="btn btn-secondary py-0 px-1 me-1">{% fa {icon: "plus", size: "xs"}, "fa-fw" %}</a>
  <a data-bkt-text="reset" class="btn btn-secondary py-0 px-1">{% fa {icon: "undo", size: "xs"}, "fa-fw" %}</a>
</div>