@import "./bootstrap-core/color-system";

// THEME COLOURS
// You can use the colours from the bootstrap colour system:
// https://getbootstrap.com/docs/5.3/customize/color/#all-colors
// Or you can replace them with manually chosen HEX or RGB colour codes:
// https://www.fffuel.co/cccolor/

$primary: desaturate(mix($purple-400, $gray-400, 70), 10);
$secondary: desaturate(mix($purple-200, $gray-200, 70), 20);
$success: mix($green-400, $cyan-200);
$info: mix($cyan-400, $cyan-200);
$warning: mix($yellow-400, $pink-200);
$danger: mix($red-400, $pink-400);
$light: $gray-200;
$dark: $gray-900;

$blue: $blue-400;
$indigo: $indigo-400;
$purple: $purple-400;
$pink: $pink-400;
$red: $red-400;
$orange: $orange-400;
$yellow: $yellow-400;
$green: $green-400;
$teal: $teal-400;
$cyan: $cyan-400;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
);

@import "../node_modules/bootstrap/scss/variables";

$font-family-base: "Lexend";
$font-family-code: "Anonymous Pro";

$body-color: mix($gray-600, $purple-700, 60);
$body-bg: mix($purple-100, $gray-100, 10);

$body-secondary-color: rgba($body-color, 0.75);
$body-secondary-bg: darken($body-bg, 2);

$body-tertiary-color: rgba($body-color, 0.5);
$body-tertiary-bg: darken($body-bg, 5);

$link-color: darken($primary, 10);
$link-decoration: none;
