@import "./bootstrap-core/color-system";

$primary: desaturate(mix($purple-400, $gray-400, 70), 10);
$secondary: desaturate(mix($purple-200, $gray-200, 70), 20);
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
);

@import "../node_modules/bootstrap/scss/variables";

$font-family-base: "Lexend";
$font-family-code: "Anonymous Pro";

$body-color: mix($gray-600, $purple-700, 60);
$body-bg: mix($purple-100, $gray-100, 10);

$body-secondary-color: rgba($body-color, 0.75);
$body-secondary-bg: darken($body-bg, 2);

$body-tertiary-color: rgba($body-color, 0.5);
$body-tertiary-bg: darken($body-bg, 5);

$link-color: darken($primary, 10);
$link-decoration: none;
