@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Share+Tech+Mono&display=swap");

@import "./bootstrap-core/bootstrap";

p:last-child {
  margin-bottom: 0;
}

code {
  background-color: var(--bs-secondary-bg);
  padding: 0.125rem 0.5rem 0;
  border-radius: var(--bs-border-radius-sm);
  vertical-align: baseline;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > footer {
    margin-top: auto;
  }
}

[data-bkt-text] {
  opacity: 1;
  transition: all 0.2s !important;
}
.adjustableTextSize {
  font-size: unquote("calc(1em + var(--text-size-modifier, 0))");
}

.stacked-grid {
  display: grid;
  & > * {
    grid-area: 1/2;
  }
}

.toolbar {
  transition: all 0.2s;
  #header-collapse {
    opacity: 0 !important;
    pointer-events: none;
    transition: all 0.2s;
  }
  &:not(.isSticky) .hideableContent:not(.show):not(i) {
    opacity: 1;
    display: block;
  }
  &.isSticky {
    .hideableContent {
      height: auto !important;
    }
    &:has(.hideableContent:not(.show):not(i)) {
      background: transparent !important;
    }
    .d-flex.collapse:not(.show) {
      display: none !important;
    }
    #header-collapse {
      opacity: 0.5 !important;
      pointer-events: auto;
    }
  }
}
