<div class="dropdown themeSwitcher">
  <a class="btn btn-group p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="card px-3 align-items-center justify-content-center rounded-end-0 theme-label">Default Theme</span>
    <button type="button" class="btn py-1 bg-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
  </button>

  </a>
  <ul class="dropdown-menu py-0">
    <li><a class="dropdown-item disabled" href="#" data-bkt-font-family="default font">Default</a></li>
  </ul>
</div>