  <a data-bkt-text="decreaseSize" class="btn btn-secondary py-0 px-1 rounded-end-0 d-flex align-items-center">{% fa {icon: "minus", size: "xs"}, "fa-fw" %}</a>
  <div class="card border-secondary bg-transparent font-monospace px-3 rounded-0 border-end-0 border-start-0 py-1 justify-content-center" data-bkt-text-current-size style="user-select:none">16px</div>
  <a data-bkt-text="increaseSize" class="btn btn-secondary rounded-0 py-0 px-1 d-flex align-items-center">{% fa {icon: "plus", size: "xs"}, "fa-fw" %}</a>
  <a data-bkt-text="reset" class="btn btn-secondary rounded-start-0 py-0 px-1 d-flex align-items-center disabled">{% fa {icon: "undo", size: "xs"}, "fa-fw" %}</a>