{% extends "./base.njk" %}
{% import "_macros/pagination.njk" as nav %}
{% import "_macros/scrollAnchor.njk" as scroll %}
{% set book = collections[page.book] %}

{% block head %}
{# Extra content to append to the <head> #}
<script src="/assets/js/pageScrolled.js"></script>
{% endblock %}

{% block content %}
  <header class="bg-body-tertiary py-3 sticky-top d-flex" id="header">
    <div class="flex-grow-1"></div>
    <div class="d-flex container align-items-center justify-content-around hideableContent collapse show fade">
      <h1 class="fw-thin">{{page.book | title}} :: Chapter {{page.index}} </h1>
      {% if book.length > 1 %}
        <div class="dropdown ms-auto me-0">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Select chapter
          </button>
          <ul class="dropdown-menu">
            {% for chapter in book %}
              <li><a class="dropdown-item" href="{{chapter.page.url}}">Chapter {{loop.index}}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% include "_partials/textSize.njk" %}
    </div>
    <div class="flex-grow-1"></div>
    <a id="header-collapse" data-bs-toggle="collapse" data-bs-target="header .hideableContent" class="link-secondary opacity-50 fs-4 me-3 my-auto justify-self-end stacked-grid text-decoration-none">{% fa "solid times-circle hideableContent collapse show fade" %}{% fa "solid angle-down hideableContent collapse fade" %}</a>
  </header>
  <main class="container my-4">
    {{scroll.createAnchor("hideSticky", "50px")}}
    {% if startNotes %}
    {% card "Notes", "mb-3 rounded-0" %}
    {{startNotes | renderContent("md") | safe}}
    
    {{"<p>See end of chapter for <a href=\"#notes\">more notes</a>.</p>" | safe if endNotes}}
    {% endcard %}
    {% endif %}
  {{ content | safe }}
    {% if endNotes %}
    <a id="notes"></a>
    {% card "Notes", "mb-3 rounded-0" %}
    {{endNotes}}
    {% endcard %}
    {% endif %}
  </main>
  
  <nav class="container">{{nav.pagination(book, page)}}</nav>

{% include "_partials/footer.njk" %}
{% endblock %}

{% block body %}
{# Extra content append to the <body> #}
{{scroll.createObserver("hideSticky", "#header", "isSticky")}}
{% endblock %}