{% extends "./base.njk" %}
{% block head %}
{# Extra content to append to the <head> #}
{% endblock %}
{% block content %}


{% include "_partials/navigation.njk" %}

  <main class="container mt-5 mb-4">
  {{ content | safe }}
  </main>

{% include "_partials/footer.njk" %}
{% endblock %}

{% block body %}
{# Extra content append to the <body> #}
{% endblock %}