<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/fontawesome.css" />
	<link rel="stylesheet" href="/assets/css/phosphor-icons.css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
      <main class="container mt-5 mb-4">
      {{ content | safe }}
      </main>
    {% endblock %}
    
    {% block body %}
    {% endblock %}
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
